/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

/* Override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color: #FAF0E6;
    max-width: 100vw;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 100vh;
    background-image: url(../images/manuscript-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

header {
    z-index: 1;
    position: fixed;
    height: 100vh;
    padding: 20px;
    pointer-events: none;
 }

.container {
    width: 90vw;
    background: rgba(26,35,15, 0.9);
    display: flex;
    padding: 20px;
    border-radius: 10px;
    align-items: flex-end;
    justify-content: space-between;
    gap: 70px;
    border: 2px solid linen;
}

/* Game title */
h1 {
    font-size: 1.5rem;
    border: 2px solid linen;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    background: #3a4d23;
} 

.game-words {
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.game-box .letter {
    width: 30px;
    border-bottom: 3px solid linen;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.game-words .letter.guessed {
    border-color: transparent;
    margin: -25px 0 35px;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px;
}

p {
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.question-text {
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.wrong-guess {
    color: darkorange;
}

/* Keyboard styles */
.keyboard {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.keyboard button {
    width: calc(100% / 9 - 5px);
    font-size: 1.5rem;
    font-weight: 500;
    color: linen;
    border: 1px solid linen;
    background: #3a4d23;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 5px;
}

/* Keyboard button appearance after selection */
.keyboard button[disabled] {
    pointer-events: none;
    opacity: 0.5;
    color: darkorange;
    border: none;
}

.keyboard button:hover {
    color: #3a4d23;
    background: linen;
}

/* Pop-up for end of game - display correct answer & play again button */
.game-modal {
    position: fixed;
    left: 3.5%;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    margin-left: 60%;
    background: rgba(167, 174, 156, 0.9);
    padding: 20px;
    border: 4px solid linen;
    border-radius: 10px;
    display: flex;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.4s ease;
    pointer-events: none;
    margin: 20px;
}

.game-modal.show {
    pointer-events: auto;
    opacity: 1;
}


.game-end {
    width: 60%;
    padding: 25px;
    margin: 25px;
}

.game-end-img {
    border-radius: 10px;
    border: 4px solid linen;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.game-end p,
.game-end h3,
.game-end span {
    color: #1a230f;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.game-end p {
    text-align: center;
}

/* Replay button style in pop-up */
.replay-btn {
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    color: linen;
    border: 2px solid linen;
    background: #3a4d23;
    margin-top: 10px;
    text-transform: uppercase;
    width: 30%;
    margin-left: 35%;
}

.replay-btn:hover {
    color: #3a4d23;
    background: linen;
    border: 2px solid #3a4d23;
}



/* Display correct answer in uppercase */
.game-modal span {
    text-transform: uppercase;
}

.incorrect {
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 50%;
    margin-left: 25%;
}

/* Style for Error 404 page */
.container-404 {
    text-align: center;
}

.image-404 {
    width: 50%;
}

.error-div {
        background: #3a4d23;
        color: #FAF0E6;
        border: 2px solid #FAF0E6;
        z-index: 999;
    }

/* Media query for small screens - cause content to appear in column and header to disappear */
@media (max-width: 782px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .hangman-image img {
        max-width: 200px;
    }

    /* Header disappears on smaller screens */
    header {
        display: none;
    }

    /* Game pop-up appearance */
    .game-modal {
        width: 100%;
        margin: 0;
    }

    .game-end-img {
        width: 80%;
        margin-left: 10%;
        
    }
    .game-end {
        justify-content: center;
        height: 80%;
        width: 100%;
    }

    .game-end h3 {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .replay-btn {
        width: 80%;
        padding: 10px;
        margin-left: 15%;
    }
}